.fbPackageStatus{
	height:20px;
	padding:2px;
	text-align:center;	
}

.fabrik_block{
	width:45%;
	float:left;
	padding:5px;
	margin:5px 2px;
	border:1px solid #DFDFDF;
}

.fabrik_block_col0{
	clear:left;
	
	overflow:auto;
}

.fabirkElement{
	margin-left:100px !important;
	text-align:left !important;
}

.fabrikLabel{
	width:100px !important;
}

dt{
border:1px solid #DFDFDF;
height:20px;
width:150px;
float:left;
padding:3px 0 0 0;
margin:0 2px;
margin-bottom:-1px;
text-align:center;
background-color:#EFEFEF;
}

.open{
background-color:#ffffff;
border-bottom:1px solid #ffffff;
}

dd{
clear:left;
border:1px solid #DFDFDF;
padding:5px;
margin:0;
}
