.buildpath
.project
.idea
.settings/
.tx/
*.txt
*.jpg
.htaccess
php.ini
build/
cache/*
administrator/*
!administrator/components/
administrator/components/*
!administrator/components/com_fabrik/
!administrator/components/com_fabrik/*
components/*
!components/com_fabrik
components/com_fabrik/js/*
components/com_fabrik/user_ajax.php
components/com_fabrik/xf_group_sync.php
cli/*
images/*
includes/*
language/*
libraries/*
!libraries/fabrik/
!libraries/joomla
libraries/joomla/*
!libraries/joomla/document
libraries/joomla/document/*
!libraries/joomla/document/partial/
!libraries/joomla/document/partial/*
!libraries/joomla/document/pdf/
!libraries/joomla/document/pdf/*
!libraries/joomla/document/fabrikfeed/
!libraries/joomla/document/fabrikfeed/*
!libraries/src
libraries/src/*
!libraries/src/Document
libraries/src/Document/*
!libraries/src/Document/PdfDocument.php
!libraries/src/Document/PartialDocument.php
!libraries/src/Document/Renderer
libraries/src/Document/Renderer/*
!libraries/src/Document/Renderer/Pdf/
!libraries/src/Document/Renderer/Pdf/*
!libraries/src/Document/Renderer/Partial/
!libraries/src/Document/Renderer/Partial/*
libraries/dompdf/lib/fonts/log.htm
logs
modules/*
!modules/mod_fabrik_form
!modules/mod_fabrik_form/*
!modules/mod_fabrik_list
!modules/mod_fabrik_list/*
!modules/mod_tagcloud
!modules/mod_tagcloud/*
!media/
media/*
!media/com_fabrik/
media/com_fabrik/uploads/
node_modules/*
plugins/*
!plugins/system/
plugins/system/*
!plugins/system/fabrik
!plugins/search/
plugins/search/*
!plugins/search/fabrik
plugins/fabrik_list/download/libs
!plugins/fabrik_element/
!plugins/fabrik_form/
plugins/fabrik_form/php/scripts/
!plugins/fabrik_list/
plugins/fabrik_list/php/scripts/
!plugins/fabrik_cron/
!plugins/fabrik_validationrule/
!plugins/fabrik_visualization/
plugins/community/*
!plugins/community/fabrik/
robots.txt
sql/*
tests/*
templates/*
tmp/*
transfer/*
/templates
/tmp
/transfer
/tests
/test
/update
/cache
fabrik_build/output/
fabrik_build/docs/
fabrik_build/cli/
/build_config_private.ini
/images
/includes
/cli
/index.html
/image
/language
/docs
/uploads
/t3-assets
/joomlatools-files
/bin
/layouts
=======
/.externalToolBuilders
custom_css.php
custom.css
!contribution_license.txt
!software_license.txt
/ZendFramework-1.12.3
/mobiquo
/node_modules
components/com_fabrik/language/.DS_Store
components/com_fabrik/models/.DS_Store
.transifexrc
private.json
/404.map
