.buildpath
.project
.settings/*
*.txt
*.php
*.xml
*.jpg
.htaccess
php.ini
cache/*
administrator/*
!administrator/components/com_fabrik/
cache/*
components/*
!components/com_fabrik
components/com_fabrik/js/*
cli/*
images/*
includes/*
language/*
libraries/*
!libraries/dompdf/
modules/*
!modules/mod_fabrik_form
!modules/mod_fabrik_list
!modules/mod_fabrik_form/*
!modules/mod_fabrik_list/*
media/*
!media/com_fabrik/*
logs
plugins/*
plugins/search/*
!plugins/search/fabrik
plugins/system/*
!plugins/system/fabrik/
!plugins/fabrik_element/
!plugins/fabrik_form/
!plugins/fabrik_list/
!plugins/fabrik_cron/
!plugins/fabrik_validationrule/
!plugins/fabrik_visualization/
!tttplugins/system/fabrikcron/
robots.txt
sql/*
tests/*
templates/*
tmp/*
transfer/*
/templates
/tmp
/transfer
/tests
/cache
fabrik_build/output/
fabrik_build/docs/
/build_config_private.ini
/images
/includes
/cli
/index.html
/image
/language
libraries/dompdf/lib/fonts/log.htm
/docs
/uploads
libraries/dompdf/lib/fonts/dompdf_font_family_cache.dist.php
/t3-assets

