<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
	<fieldset label="COM_FABRIK_GLOBAL" name="global">

		<field name="fabrik_product_key"
		       type="text"
		       description="COM_FABRIK_FIELD_PRODUCT_KEY_DESC"
		       label="COM_FABRIK_FIELD_PRODUCT_KEY_LABEL" />

		<field name="enable_big_selects"
			class="radio btn-group"
			type="radio"
			default="0"
			label="COM_FABRIK_FIELD_ENABLE_BIG_SELECTS_LABEL"
			description="COM_FABRIK_FIELD_ENABLE_BIG_SELECTS_DESC">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="google_api_key"
			type="text"
			label="COM_FABRIK_GOOGLE_API_KEY_LABEL"
			description="COM_FABRIK_GOOGLE_API_KEY_DESC" />

		<field name="google_buisness_client_id"
			type="text"
			label="COM_FABRIK_GOOGLE_BUSINESS_CLIENT_ID_LABEL"
			description="COM_FABRIK_GOOGLE_BUSINESS_CLIENT_ID_DESC" />

		<field name="google_buisness_signature"
			type="text"
			label="COM_FABRIK_GOOGLE_BUSINESS_SIGNATURE_LABEL"
			description="COM_FABRIK_GOOGLE_BUSINESS_SIGNATURE_DESC" />

		<field name="fabrik_salesforce_username"
		       type="text"
		       label="COM_FABRIK_SALESFORCE_USERNAME_LABEL"
		       description="COM_FABRIK_SALESFORCE_USERNAME_DESC" />

		<field name="fabrik_salesforce_password"
		       type="text"
		       label="COM_FABRIK_SALESFORCE_PASSWORD_LABEL"
		       description="COM_FABRIK_SALESFORCE_PASSWORD_DESC" />

		<field name="fabrik_salesforce_token"
		       type="text"
		       label="COM_FABRIK_SALESFORCE_TOKEN_LABEL"
		       description="COM_FABRIK_SALESFORCE_TOKEN_DESC" />

		<field name="unpublish_clones"
			type="radio"
			default="0"
			class="btn-group"
			description="COM_FABRIK_UNPUBLISH_CLONES_DESC"
			label="COM_FABRIK_UNPUBLISH_CLONES_LABEL">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="allow_user_defines"
			class="radio btn-group"
			type="radio"
			default="0"
			label="COM_FABRIK_FIELD_ALLOW_USER_DEFINES_LABEL"
			description="COM_FABRIK_FIELD_ALLOW_USER_DEFINES_DESC">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

	</fieldset>
	<fieldset label="COM_FABRIK_LISTS" name="lists">

		<field name="fbConf_alter_existing_db_cols"
			default="1"
			description="COM_FABRIK_ALERT_EXISTING_FIELD_TYPES_DESC"
			label="COM_FABRIK_ALERT_EXISTING_FIELD_TYPES_LABEL"
			menu="hide"
			type="list">
				<option value="1">JYES</option>
				<option value="addonly">COM_FABRIK_ALTER_EXISTING_FIELD_ADD_NEW_FIELDS_ONLY</option>
				<option value="0">JNO</option>
		</field>

		<field name="filter_build_method"
			default="1"
			description="COM_FABRIK_FILTER_BUILD_METHOD_DESC"
			label="COM_FABRIK_FILTER_BUILD_METHOD_LABEL"
			type="list">
				<option value="1">COM_FABRIK_SHOW_DATA_RECORDED_IN_TABLE</option>
				<option value="2">COM_FABRIK_SHOW_ALL_OPTIONS</option>
		</field>

		<field name="filter_list_max"
			default="100"
			description="COM_FABRIK_FILTER_LIST_MAX_DESC"
			label="COM_FABRIK_FILTER_LIST_MAX_LABEL"
			type="text"/>

		<field name="enable_single_sorting"
			default="0"
			class="radio btn-group"
			description="COM_FABRIK_ENABLE_SINGLE_ORDERING_DESC"
			label="COM_FABRIK_ENABLE_SINGLE_ORDERING_LABEL"
			type="radio">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="user_elements_as_related_data"
			default="0"
			class="radio btn-group"
			description="COM_FABRIK_USER_ELEMENTS_AS_RELATED_DATA_DESC"
			label="COM_FABRIK_USER_ELEMENTS_AS_RELATED_DATA_LABEL"
			type="radio">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="list_pdf"
			type="radio"
			default="0"
			class="radio btn-group"
			description="COM_FABRIK_FIELD_LIST_PDF_ICON_DESC"
			label="COM_FABRIK_FIELD_LIST_PDF_ICON_LABEL"
			menu="hide" >
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="actionMethod"
			default="floating"
			type="list"
			label="COM_FABRIK_FIELD_ACTION_METHOD_LABEL"
			description="COM_FABRIK_FIELD_ACTION_METHOD_DESC">
				<option value="inline">COM_FABRIK_FIELD_ACTION_METHOD_INLINE</option>
				<option value="floating">COM_FABRIK_FIELD_ACTION_METHOD_FLOATING</option>
				<option value="dropdown">COM_FABRIK_FIELD_ACTION_METHOD_DROPDOWN</option>
		</field>

		<field name="csv_delimiter"
		       type="text"
		       default=""
		       description="COM_FABRIK_FIELD_CSV_DELIMITER_OVERRIDE_DESC"
		       label="COM_FABRIK_FIELD_CSV_DELIMITER_OVERRIDE_LABEL" />

	</fieldset>

	<fieldset label="COM_FABRIK_ELEMENTS" name="elements" addfieldpath="/administrator/components/com_fabrik/models/fields">

		<field name="default_element_plugins"
			type="spacer"
			label="COM_FABRIK_ELEMENTS_DEFAULT_PLUGINS"/>

		<field name="default_element_plugins_desc"
			type="spacer"
			label="COM_FABRIK_ELEMENTS_DEFAULT_PLUGINS_DESC"/>

		<field name="int"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="field"
			label="INT"/>

		<field name="decimal"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="field"
			label="DECIMAL"/>

		<field name="tinyint"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="field"
			label="TINYINT"
			description="COM_FABRIK_ELEMENTS_DEFAULT_PLUGINS_TINYINT_DESC"/>

		<field name="smallint"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="field"
			label="SMALLINT"/>

		<field name="mediumint"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="field"
			label="MEDIUMINT"/>

		<field name="bigint"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="field"
			label="BIGINT"/>

		<field name="varchar"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="field"
			label="VARCHAR"/>

		<field name="text"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="textarea"
			label="TEXT"/>

		<field name="tinytext"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="textarea"
			label="TINYTEXT"/>

		<field name="mediumtext"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="textarea"
			label="MEDIUMTEXT"/>

		<field name="longtext"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="textarea"
			label="LONGTEXT"/>

		<field name="datetime"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="date"
			label="DATETIME"/>

		<field name="date"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="date"
			label="DATE"
			description="COM_FABRIK_ELEMENTS_DEFAULT_PLUGINS_DATE_DESC"/>

		<field name="timestamp"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="date"
			label="TIMESTAMP"/>

		<field name="time"
			type="pluginlist"
			plugin="fabrik_element"
			required="true"
			default="field"
			label="TIME"
			description="COM_FABRIK_ELEMENTS_DEFAULT_PLUGINS_TIME_DESC"/>

	</fieldset>

	<fieldset label="COM_FABRIK_LABELS" name="labels">
        	<field name="format_labels"
            		type="radio"
            		default="0"
            		description="COM_FABRIK_LABELS_DESC"
            		label="COM_FABRIK_LABELS_LABEL">
                		<option value="0">COM_FABRIK_LABELS_DEFAULT</option>
                		<option value="1">COM_FABRIK_LABELS_LOWERCASE</option>
                		<option value="2">COM_FABRIK_LABELS_UCWORDS</option>
                		<option value="3">COM_FABRIK_LABELS_CAPFIRST</option>
                		<option value="4">COM_FABRIK_LABELS_CAPS</option>
        	</field>
    	</fieldset>

	<fieldset label="COM_FABRIK_FORMS" name="forms">

		<field name="spoofcheck_on_formsubmission"
			type="radio"
			default="1"
			description="COM_FABRIK_SPOOF_CHECK_DESC"
			label="COM_FABRIK_SPOOF_CHECK_LABEL"
			class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="fbConf_wysiwyg_label"
			type="radio"
			default="0"
			description=""
			label="COM_FABRIK_WYSIWYG_FOR_ELEMENT_LABELS"
			menu="hide"
			class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="form_print"
			type="radio"
			default="0"
			description="COM_FABRIK_FIELD_FORM_PRINT_ICON_DESC"
			label="COM_FABRIK_FIELD_FORM_PRINT_ICON_LABEL"
			menu="hide"
			class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="form_email"
			type="radio"
			default="0"
			description="COM_FABRIK_FIELD_FORM_EMAIL_ICON_DESC"
			label="COM_FABRIK_FIELD_FORM_EMAIL_ICON_LABEL"
			menu="hide"
			class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="form_pdf"
			type="radio"
			default="0"
			description="COM_FABRIK_FIELD_FORM_PDF_ICON_DESC"
			label="COM_FABRIK_FIELD_FORM_PDF_ICON_LABEL"
			menu="hide"
			class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="error_icon"
			type="text"
			menu="hide"
			default="warning"
			description="COM_FABRIK_FIELD_ERROR_ICON_DESC"
			label="COM_FABRIK_FIELD_ERROR_ICON_LABEL" />

		<field name="advanced_behavior"
			type="radio"
			default="0"
			class="btn-group"
			label="COM_FABRIK_DROPDOWN_JQUERY_CHOSEN_GLOBAL_LABEL"
			description="COM_FABRIK_DROPDOWN_JQUERY_CHOSEN_GLOBAL_DESC" >
				<option value="0">JNO</option>
				<option value="1">COM_FABRIK_DROPDOWN_JQUERY_CHOSEN_PER_ELEMENT</option>
				<!--<option value="2">JYES</option>-->
		</field>

		<field name="advanced_behavior_options"
			type="text"
			menu="hide"
			default="{}"
			description="COM_FABRIK_DROPDOWN_JQUERY_CHOSEN_OPTIONS_DESC"
			label="COM_FABRIK_DROPDOWN_JQUERY_CHOSEN_OPTIONS_LABEL" />

	</fieldset>

	<fieldset label="COM_FABRIK_JAVASCRIPT" name="javascript">

		<field name="use_mediabox"
			type="list"
			default="0" description="COM_FABRIK_MEDIA_BOX_DESC"
			label="COM_FABRIK_MEDIA_BOX_LABEL"
			class="radio btn-group">
				<option value="0">COM_FABRIK_LIGHTBOX_SLIMBOX</option>
				<option value="1">COM_FABRIK_LIGHTBOX_MEDIABOX</option>
				<option value="2">COM_FABRIK_LIGHTBOX_ROKBOX</option>
		</field>

		<field name="mediabox_style"
			type="list"
			default="Dark"
			description="COM_FABRIK_MEDIA_BOX_STYLE_DESC"
			label="COM_FABRIK_MEDIA_BOX_STYLE_LABEL">
				<option value="Dark">Dark</option>
				<option value="Light">Light</option>
				<option value="Smooth">Smooth</option>
				<option value="Minimal">Minimal</option>
		</field>

		<field name="include_lightbox_js"
			type="list"
			default="1"
			description="COM_FABRIK_LIGHTBOX_JS_DESC"
			label="COM_FABRIK_LIGHTBOX_JS_LABEL" >
				<option value="0">JNO</option>
				<option value="1">Auto</option>
				<option value="2">JYES</option>
		</field>

		<field name="tipfx"
			description="COM_FABRIK_TIP_FX_DESC"
			label="COM_FABRIK_TIP_FX_LABEL"
			default="linear"
			type="list" >
				<option value="linear">linear</option>
				<option value="Quad">Quad</option>
				<option value="Cubic">Cubic</option>
				<option value="Quart">Quart</option>
				<option value="Quint">Quint</option>
				<option value="Expo">Expo</option>
				<option value="Circ">Circ</option>
				<option value="Sine">Sine</option>
				<option value="Back">Back</option>
				<option value="Bounce">Bounce</option>
				<option value="Elastic">Elastic</option>
		</field>

		<field name="tipfx_ease"
			default="easeIn"
			description="COM_FABRIK_TIP_EASE_DESC"
			label="COM_FABRIK_TIP_EASE_LABEL"
			type="list">
				<option value="easeIn">In</option>
				<option value="easeOut">Out</option>
				<option value="easeInOut">InOut</option>
		</field>

		<field name="tipfx_duration"
			size="3"
			description="COM_FABRIK_TIP_FX_DURATION_DESC"
			label="COM_FABRIK_TIP_FX_DURATION_LABEL"
			default="500" />

		<field name="tipfx_distance"
			size="3"
			default="50"
			description="COM_FABRIK_TIP_FX_DISTANCE_DESC"
			label="COM_FABRIK_TIP_FX_DISTANCE_LABEL" />

		<field name="tipfx_fadein"
			default="0"
			class="radio btn-group"
			label="COM_FABRIK_TIP_FX_FADEIN_LABEL"
			description="COM_FABRIK_TIP_FX_FADEIN_DESC"
			type="radio">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="autocomplete_min_trigger_chars"
			size="3"
			default="1"
			description="COM_FABRIK_AUTOCOMPLETE_MIN_TRIGGER_CHARS_DESC"
			label="COM_FABRIK_AUTOCOMPLETE_MIN_TRIGGER_CHARS_LABEL" />

		<field name="requirejs_base_uri"
			size="50"
			default=""
			description="COM_FABRIK_REQUIREJS_BASE_URI_DESC"
			label="COM_FABRIK_REQUIREJS_BASE_URI_LABEL" />

	</fieldset>

	<fieldset label="COM_FABRIK_DEBUGGING" name="debug">

		<field name="use_fabrikdebug"
			default="0"
			description="COM_FABRIK_FABRIK_DEBUG_DESC"
			label="COM_FABRIK_FABRIK_DEBUG_LABEL"
			type="list">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
				<option value="2">COM_FABRIK_FABRIK_DEBUG_JS</option>
		</field>

		<field name="burst_js"
		       type="list"
		       default="0"
		       description="COM_FABRIK_BURST_JS_DESC"
		       label="COM_FABRIK_BURST_JS_LABEL">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="pdf_debug"
			type="radio"
			default="0"
			class="btn-group"
			description="COM_FABRIK_PDF_DEBUG_DESC"
			label="COM_FABRIK_PDF_DEBUG_LABEL">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="verify_peer"
		       type="radio"
		       default="1"
		       class="btn-group"
		       description="COM_FABRIK_VERIFY_PEER_DESC"
		       label="COM_FABRIK_VERIFY_PEER_LABEL">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset label="COM_FABRIK_SEF404" name="sef">

		<field name="fabrik_sef_prepend_menu_title"
			type="radio"
			default="0"
			class="radio btn-group"
			description="COM_FABRIK_SEF_PREPEND_MENU_TITLE_DESC"
			label="COM_FABRIK_SEF_PREPEND_MENU_TITLE_LABEL" >
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="fabrik_sef_tablename_on_forms"
			type="radio"
			default="0"
			description="COM_FABRIK_SEF_TABLENAME_ON_FORMS_DESC"
			label="COM_FABRIK_SEF_TABLENAME_ON_FORMS_LABEL"
			class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field name="fabrik_sef_format_records"
			type="list"
			default="param_id"
			description="COM_FABRIK_SEF_FORMAT_RECORDS_DESC"
			label="COM_FABRIK_SEF_FORMAT_RECORDS_LABEL">
				<option value="param_id">COM_FABRIK_FIELD_ID</option>
				<option value="id_only">COM_FABRIK_ID_ONLY</option>
				<option value="id_slug">COM_FABRIK_ID-SLUG</option>
				<option value="slug_id">COM_FABRIK_SLUG-ID</option>
				<option value="slug_only">COM_FABRIK_SLUG_ONLY</option>
		</field>

		<field name="fabrik_sef_customtxt_form"
			type="text"
			description="COM_FABRIK_SEF_CUSTOMTXT_FORM_DESC"
			label="COM_FABRIK_SEF_CUSTOMTXT_FORM_LABEL" />

		<field name="fabrik_sef_customtxt_new"
			type="text"
			description="COM_FABRIK_SEF_CUSTOMTXT_NEW_DESC"
			label="COM_FABRIK_SEF_CUSTOMTXT_NEW_LABEL" />

		<field name="fabrik_sef_customtxt_edit"
			type="text"
			description="COM_FABRIK_SEF_CUSTOMTXT_EDIT_DESC"
			label="COM_FABRIK_SEF_CUSTOMTXT_EDIT_LABEL" />

		<field name="fabrik_sef_customtxt_details"
			type="text"
			description="COM_FABRIK_SEF_CUSTOMTXT_DETAILS_DESC"
			label="COM_FABRIK_SEF_CUSTOMTXT_DETAILS_LABEL" />

		<field name="fabrik_sef_customtxt_own"
			type="text"
			description="COM_FABRIK_SEF_CUSTOMTXT_OWN_DESC"
			label="COM_FABRIK_SEF_CUSTOMTXT_OWN_LABEL" />

		<field name="fabrik_sef_format_viz"
			type="list"
			default="param_id"
			description="COM_FABRIK_SEF_FORMAT_VIZ_DESC"
			label="COM_FABRIK_SEF_FORMAT_VIZ_LABEL" >
				<option value="param_id">COM_FABRIK_PARAM_ID</option>
				<option value="viz-id">COM_FABRIK_VIZ-ID</option>
				<option value="id-viz">COM_FABRIK_ID-VIZ</option>
				<option value="label-id">COM_FABRIK_LABEL-ID</option>
				<option value="id-label">COM_FABRIK_ID-LABEL</option>
				<option value="label_only">COM_FABRIK_LABEL_ONLY</option>
		</field>

		<field name="fabrik_sef_customtxt_viz"
			type="text"
			description="COM_FABRIK_SEF_CUSTOMTXT_VIZ_DESC"
			label="COM_FABRIK_SEF_CUSTOMTXT_VIZ_LABEL" />

	</fieldset>

	<fieldset label="COM_FABRIK_OAI" name="oai">
		<field name="oai_repository_identifier"
		       ptype="text"
		       label="COM_FABRIK_FIELD_OAI_REPOSITORY_IDENTIFIER_LABEL"
		       description="COM_FABRIK_FIELD_OAI_REPOSITORY_IDENTIFIER_DESC" />
	</fieldset>
	<fieldset description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL" name="permissions">

		<field name="rules"
			class="inputbox"
			component="com_fabrik"
			filter="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component"
			type="rules"
			validate="rules"/>
	</fieldset>
</config>
