<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
	<fieldset label="COM_FABRIK_GLOBAL" name="global">
	
		<field name="enable_big_selects" 
			type="radio" 
			default="0"
			label="COM_FABRIK_FIELD_ENABLE_BIG_SELECTS_LABEL" 
			description="COM_FABRIK_FIELD_ENABLE_BIG_SELECTS_DESC">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>
			
	</fieldset>
	<fieldset label="COM_FABRIK_LISTS" name="lists">

		<field default="1" description="COM_FABRIK_ALERT_EXISTING_FIELD_TYPES_DESC" label="COM_FABRIK_ALERT_EXISTING_FIELD_TYPES_LABEL" menu="hide" name="fbConf_alter_existing_db_cols" type="list">
				<option value="1">JYES</option>
				<option value="addonly">COM_FABRIK_ALTER_EXISTING_FIELD_ADD_NEW_FIELDS_ONLY</option>
				<option value="0">JNO</option>
		</field>

		<field default="1" description="COM_FABRIK_FILTER_BUILD_METHOD_DESC" label="COM_FABRIK_FILTER_BUILD_METHOD_LABEL" name="filter_build_method" type="list">
				<option value="1">COM_FABRIK_SHOW_DATA_RECORDED_IN_TABLE</option>
				<option value="2">COM_FABRIK_SHOW_ALL_OPTIONS</option>
		</field>
		
		<field default="100" description="COM_FABRIK_FILTER_LIST_MAX_DESC" label="COM_FABRIK_FILTER_LIST_MAX_LABEL" name="filter_list_max" type="text"/>
		
		<field default="0" description="COM_FABRIK_ENABLE_SINGLE_ORDERING_DESC" label="COM_FABRIK_ENABLE_SINGLE_ORDERING_LABEL" name="enable_single_sorting" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field default="0" description="COM_FABRIK_USER_ELEMENTS_AS_RELATED_DATA_DESC" label="COM_FABRIK_USER_ELEMENTS_AS_RELATED_DATA_LABEL" name="user_elements_as_related_data" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>
		
		<field default="0" description="COM_FABRIK_FIELD_LIST_PDF_ICON_DESC" label="COM_FABRIK_FIELD_LIST_PDF_ICON_LABEL" menu="hide" name="list_pdf" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>
		
		<field name="actionMethod"
			default="floating"
			type="list"
			label="COM_FABRIK_FIELD_ACTION_METHOD_LABEL"
			description="COM_FABRIK_FIELD_ACTION_METHOD_DESC">
				<option value="inline">COM_FABRIK_FIELD_ACTION_METHOD_INLINE</option>
				<option value="floating">COM_FABRIK_FIELD_ACTION_METHOD_FLOATING</option>
		</field>

	</fieldset>

	<fieldset label="COM_FABRIK_FORMS" name="forms">

		<field default="1" description="COM_FABRIK_SPOOF_CHECK_DESC" label="COM_FABRIK_SPOOF_CHECK_LABEL" name="spoofcheck_on_formsubmission" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

		<field default="0" description="" label="COM_FABRIK_WYSIWYG_FOR_ELEMENT_LABELS" menu="hide" name="fbConf_wysiwyg_label" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>
		
		<field default="0" description="COM_FABRIK_FIELD_FORM_PRINT_ICON_DESC" label="COM_FABRIK_FIELD_FORM_PRINT_ICON_LABEL" menu="hide" name="form_print" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>
		
		<field default="0" description="COM_FABRIK_FIELD_FORM_EMAIL_ICON_DESC" label="COM_FABRIK_FIELD_FORM_EMAIL_ICON_LABEL" menu="hide" name="form_email" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>
		
		<field default="0" description="COM_FABRIK_FIELD_FORM_PDF_ICON_DESC" label="COM_FABRIK_FIELD_FORM_PDF_ICON_LABEL" menu="hide" name="form_pdf" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset label="COM_FABRIK_JAVASCRIPT" name="javascript">

		<field name="use_mediabox"
			type="radio"
			default="0" description="COM_FABRIK_MEDIA_BOX_DESC"
			label="COM_FABRIK_MEDIA_BOX_LABEL"
			class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>
		
		<field name="mediabox_style"
			type="list"
			default="Dark"
			description="COM_FABRIK_MEDIA_BOX_STYLE_DESC"
			label="COM_FABRIK_MEDIA_BOX_STYLE_LABEL">
				<option value="Dark">Dark</option>
				<option value="Light">Light</option>
				<option value="Smooth">Smooth</option>
				<option value="Minimal">Minimal</option>	
		</field>

		<field default="1" description="COM_FABRIK_LIGHTBOX_JS_DESC" label="COM_FABRIK_LIGHTBOX_JS_LABEL" name="include_lightbox_js" type="list">
				<option value="0">JNO</option>
				<option value="1">Auto</option>
				<option value="2">JYES</option>
		</field>
		
		<field name="tipfx"
			description="COM_FABRIK_TIP_FX_DESC"
			label="COM_FABRIK_TIP_FX_LABEL"
			default="linear"
			type="list" >
				<option value="linear">linear</option>
				<option value="Quad">Quad</option>
				<option value="Cubic">Cubic</option>
				<option value="Quart">Quart</option>
				<option value="Quint">Quint</option>
				<option value="Expo">Expo</option>
				<option value="Circ">Circ</option>
				<option value="Sine">Sine</option>
				<option value="Back">Back</option>
				<option value="Bounce">Bounce</option>
				<option value="Elastic">Elastic</option>
		</field>
		
		<field default="easeIn" description="COM_FABRIK_TIP_EASE_DESC" label="COM_FABRIK_TIP_EASE_LABEL" name="tipfx_ease" type="list">
				<option value="easeIn">In</option>
				<option value="easeOut">Out</option>
				<option value="easeInOut">InOut</option>
		</field>
		
		<field default="500" description="COM_FABRIK_TIP_FX_DURATION_DESC" label="COM_FABRIK_TIP_FX_DURATION_LABEL" name="tipfx_duration" size="3"/>
			
		<field default="50" description="COM_FABRIK_TIP_FX_DISTANCE_DESC" label="COM_FABRIK_TIP_FX_DISTANCE_LABEL" name="tipfx_distance" size="3"/>
		
		<field default="0" description="COM_FABRIK_TIP_FX_FADEIN_DESC" label="COM_FABRIK_TIP_FX_FADEIN_LABEL" name="tipfx_fadein" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset label="COM_FABRIK_DEBUGGING" name="debug">

		<field default="0" description="COM_FABRIK_FABRIK_DEBUG_DESC" label="COM_FABRIK_FABRIK_DEBUG_LABEL" name="use_fabrikdebug" type="list">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
				<option value="2">COM_FABRIK_FABRIK_DEBUG_JS</option>
		</field>
		
		<field default="0" description="COM_FABRIK_PDF_DEBUG_DESC" label="COM_FABRIK_PDF_DEBUG_LABEL" name="pdf_debug" type="radio" class="radio btn-group">
				<option value="0">JNO</option>
				<option value="1">JYES</option>	
		</field>

	</fieldset>

	<fieldset label="COM_FABRIK_SEF404" name="sef">
		<field default="0" description="COM_FABRIK_SEF_PREPEND_MENU_TITLE_DESC" label="COM_FABRIK_SEF_PREPEND_MENU_TITLE_LABEL" name="fabrik_sef_prepend_menu_title" type="radio">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field default="0" description="COM_FABRIK_SEF_TABLENAME_ON_FORMS_DESC" label="COM_FABRIK_SEF_TABLENAME_ON_FORMS_LABEL" name="fabrik_sef_tablename_on_forms" type="radio" class="radio btn-group">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field default="param_id" description="COM_FABRIK_SEF_FORMAT_RECORDS_DESC" label="COM_FABRIK_SEF_FORMAT_RECORDS_LABEL" name="fabrik_sef_format_records" type="list">
			<option value="param_id">COM_FABRIK_FIELD_ID</option>
			<option value="id_only">COM_FABRIK_ID_ONLY</option>
			<option value="id_slug">COM_FABRIK_ID-SLUG</option>
			<option value="slug_id">COM_FABRIK_SLUG-ID</option>
			<option value="slug_only">COM_FABRIK_SLUG_ONLY</option>
		</field>
		<field description="COM_FABRIK_SEF_CUSTOMTXT_FORM_DESC" label="COM_FABRIK_SEF_CUSTOMTXT_FORM_LABEL" name="fabrik_sef_customtxt_form" type="text"/>
			
		<field description="COM_FABRIK_SEF_CUSTOMTXT_NEW_DESC" label="COM_FABRIK_SEF_CUSTOMTXT_NEW_LABEL" name="fabrik_sef_customtxt_new" type="text"/>
			
		<field description="COM_FABRIK_SEF_CUSTOMTXT_EDIT_DESC" label="COM_FABRIK_SEF_CUSTOMTXT_EDIT_LABEL" name="fabrik_sef_customtxt_edit" type="text"/>
			
		<field description="COM_FABRIK_SEF_CUSTOMTXT_DETAILS_DESC" label="COM_FABRIK_SEF_CUSTOMTXT_DETAILS_LABEL" name="fabrik_sef_customtxt_details" type="text"/>
			
		<field description="COM_FABRIK_SEF_CUSTOMTXT_OWN_DESC" label="COM_FABRIK_SEF_CUSTOMTXT_OWN_LABEL" name="fabrik_sef_customtxt_own" type="text"/>
			
		<field default="param_id" description="COM_FABRIK_SEF_FORMAT_VIZ_DESC" label="COM_FABRIK_SEF_FORMAT_VIZ_LABEL" name="fabrik_sef_format_viz" type="list">
			<option value="param_id">COM_FABRIK_PARAM_ID</option>
			<option value="viz-id">COM_FABRIK_VIZ-ID</option>
			<option value="id-viz">COM_FABRIK_ID-VIZ</option>
			<option value="label-id">COM_FABRIK_LABEL-ID</option>
			<option value="id-label">COM_FABRIK_ID-LABEL</option>
			<option value="label_only">COM_FABRIK_LABEL_ONLY</option>
		</field>
		
		<field description="COM_FABRIK_SEF_CUSTOMTXT_VIZ_DESC" label="COM_FABRIK_SEF_CUSTOMTXT_VIZ_LABEL" name="fabrik_sef_customtxt_viz" type="text"/>
			
	</fieldset>
	
	<fieldset description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL" name="permissions">

		<field class="inputbox" component="com_fabrik" filter="rules" label="JCONFIG_PERMISSIONS_LABEL" name="rules" section="component" type="rules" validate="rules"/>
	</fieldset>
</config>
