.fabrikLabel{
	padding-right:15px;
	display:inline;
}

.fabrikGroupRepeater{
	float:left;
	width:19%;
}

.fabrikSubGroup{
	clear:both;
}
.fabrikSubGroupElements{
	width:80%;
	float:left;
}

.fabrikElement{
	margin-right:0;
}